<style>
  .div-1{
    padding: 30px 0;
    margin: 0 auto;
}
  .recieved {
    padding: 10px 10px 10px 10px;
  }
  .sent {
    padding: 10px 30px 30px 0px;
  }
</style>
<div class="div-1 center-align container" style="">
<h3><b>Your messages</b></h3>
</div>
<div class="container">
<br>
<%@messages.each do |m|%>
  <div class="recieved left-align deep-orange lighten-5">
  <%if m.user_id == current_user.id%>
  <h4><i><b>From: </i><%=User.find_by(id: m[:sender_id])[:username]%></b></h4>
  <h6><%=m[:content]%></h6>
  <form action="/messages/<%=m[:sender_id]%>" method="get">
  <br>
  <input type="submit" value="Message User" class="btn-tiny blue white-text">
  </div>
  </form>
  <%else%>
  <div class="sent right-align light-blue lighten-4">
  <h4><i><b>To: </i><%=User.find_by(id: m[:user_id])[:username]%></b></h4>
  <h6><%=m[:content]%></h6>
  </div>
  <%end%>
<%end%></div>