<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h5><a href="/products/new">Add New Product</a></h5>
</div>
<div class="container"> <% @products.each do |product| %>
  <%if product.favorite%>
  <div class="row">
    <div class="col s12 m4">
      <div class="card green lighten-3">
        <div class="card-content brown-text text-lighten-3">
          <span class="card-title"><%=product.brand + " " + product.name%></span>
          <p>Product Type: <%=product.product_type%></p>
          <p>Cost: $<%=product.price%></p>
          <p>How I use: <%=product.description%></p>
        </div>
        <div class="card-action">
          <a href='/products/<%= product.id %>'>Product Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="https://www.google.com/search?q=<%=product.brand + " " + product.name%>"><i class="material-icons">search&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</i></a>
          <a><i class="tiny material-icons" style="font-size:20px;color:red">&nbsp;&nbsp;&nbsp;&nbsp;favorite</i></a>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>


    <div class="container"> <% @products.each do |product| %>
    <%if !product.favorite%>
  <div class="row">
    <div class="col s12 m4">
      <div class="card green lighten-3">
        <div class="card-content brown-text text-lighten-3">
          <span class="card-title"><%=product.brand + " " + product.name%></span>
          <p>Product Type: <%=product.product_type%></p>
          <p>Cost: $<%=product.price%></p>
          <p>My Usage: <%=product.description%></p>
        </div>
        <div class="card-action">
          <a href='/products/<%= product.id %>'>Product Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="https://www.google.com/search?q=<%=product.brand + " " + product.name%>"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>

