<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
      .div-1 {
        opacity: .75;    
        position: relative;
        text-align: center;
        border-top-right-radius:15px;
        border-top-left-radius:15px;
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
      }
      .div-1:hover {
        opacity: 1.0;
        text: black;
      }

      .div-2 {
        padding: 5px 0px 10px 0px;
        border-top-right-radius:15px;
        border-top-left-radius:15px;
        border-bottom-right-radius:15px;
        border-bottom-left-radius:15px;
      }

      .div-2:hover {
        opacity: 1.0;
        text: black;
      }

      .pad {
        padding: 30px 0px 0px 0px;
      }

      .add-new {
        position: fixed;
        padding: 15px 0px 25px 15px;
      }
</style>

<div class="add-new">
<h5><a href="/products/new"><i class="material-icons">add_circle_outline</i> Add New Product</a></h5>
</div>
<div class="pad">
</div>
<div class="container">
<div class="container">  
<% @products.each do |product| %>
  <%if product.favorite%>
  <div class="row">
    <div class="col s12 m4">
      <div class="div-1 card light-blue lighten-2">
        <div class="card-content white-text">
        <div class="center-align">
          <span class="card-title"><b><%=product.brand + " " + product.name%></b></span>
          <i class="tiny material-icons" style="font-size:20px;color:red">favorite</i>
        </div>
          <p>Product Type: <%=product.product_type%></p>
          <p>Cost: $<%=product.price%></p>
          <p>How I use: <%=product.description%></p>
        </div>
        <div class="div-2 center-align">
          <a class="white-text" href='/products/<%= product.id %>'>Product Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="white-text" href="https://www.google.com/search?q=<%=product.brand + " " + product.name%>"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>


    <% @products.each do |product| %>
    <%if !product.favorite%>
  <div class="row">
    <div class="col s12 m4">
      <div class="div-1 card light-blue lighten-2">
        <div class="card-content white-text">
        <div class="center-align">
          <span class="card-title"><b><%=product.brand + " " + product.name%></b></span>
        </div>  
          <p>Product Type: <%=product.product_type%></p>
          <p>Cost: $<%=product.price%></p>
          <p>How I Use: <%=product.description%></p>
        </div>
        <div class="div-2 center-align">
          <a class="white-text" href='/products/<%= product.id %>'>Product Page&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="white-text" href="https://www.google.com/search?q=<%=product.brand + " " + product.name%>"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>

