<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
  .div-1 {
    padding: 70px 0;
    margin: 0 auto;
}

  .div-2 {
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
  }
</style>

<div class="div-1 center-align" style="width: 80%;">


<div class="container">
  <h1><%=@product.name%> by <%=@product.brand %></h1>
  <br>
    <%if @product.favorite == "on"%>
      <i class="tiny material-icons" style="font-size:50px;color:red">favorite</i>
    <%end%>
    <br>
    <br>
  <div class="div-2 background red lighten-4">
  <br>
  <h4 class="left-align"><b>&nbsp;&nbsp;Type:</b> <%=@product.product_type%></h4>
  <h4 class="left-align"><b>&nbsp;&nbsp;Description: </b><%=@product.description%></h4>
  <h4 class="left-align"><b>&nbsp;&nbsp;Price: </b>$<%=@product.price%></h4>
  <h4 class="left-align"><b>&nbsp;&nbsp;Rating: </b><%=@product.rating%>/10</h4>
  <br>
  </div>

<%if @product.user_id == current_user.id%>
<br>
<br>
<div class="left-align">
<form action="/products/<%=@product.id%>/edit" method="get">
  <input type="submit" value="Edit Product" class="btn blue white-text">
</form>
<br> 
<form action="/products/<%=@product.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Product" class="btn red white-text">
</form>
</div>
<%end%>
</div>
</div>