<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
  .div-1 {
    padding: 70px 0;
    margin: 0 auto;
}

  .div-2 {
    padding: 10px 15px 15px 15px;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
  }
</style>

<div class="div-1 center-align" style="width: 80%;">


<div class="container">
  <div class="">
  <h1><b><%=@product.name%> by <%=@product.brand %></b></h1>
  </div>
  <br>
    <%if @product.favorite == "on"%>
      <i class="tiny material-icons" style="font-size:50px;color:red">favorite</i>
    <%end%>
  <br>
  <br>
  <div class="div-2 background red lighten-4">
  <h4 class="left-align"><b>Type:</b> <%=@product.product_type%></h4>
  <h4 class="left-align"><b>Description: </b><%=@product.description%></h4>
  <h4 class="left-align"><b>Price: </b>$<%=@product.price%></h4>
  <h4 class="left-align"><b>Rating: </b><%=@product.rating%>/10</h4>
  </div>

<%if @product.user_id == current_user.id%>
<br>
<div class="row">
  <div class="col s6 right-align">
    <form action="/products/<%=@product.id%>/edit" method="get">
      <button type="submit" class="btn blue"><i class="material-icons">edit</i></button>
    </form>
  </div>
  <div class="col s6 left-align">
    <form action="/products/<%=@product.id%>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button type="submit" class="btn red"><i class="large material-icons">delete</i></button>
    </form>
  </div>
</div>
<%end%>
</div>
</div>