<style>
      body {
        background-color: white;
      }
      .background {
        position: relative; 
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .background::before {
        content: " ";
        background-image: url(https://wallup.net/wp-content/uploads/2017/11/23/523542-bicycle-cherry_blossom.jpg);
        background-size: cover;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.75;
      }
      .div-1 {
        opacity: .75;    
      position: relative;
      text-align: center;
      }
      .div-1:hover {
        opacity: .90;
      }
</style>

<div class="background">
<div>
  <div class="row">
    <div class="col s12 m4">
      <div class="div-1 card large white">
        <div class="card-content cyan-text">
          <span class="card-title"><h1 class="center-align"><b>Phase 2 Project</b></h1></span>
          <br>
          <p>Welcome to Phase 2 Project site! A place where friendship, skincare, and most of all YOU matter!</p>
          <p>Sign up or login to help make the world a more beautiful place!</p>
        </div>
        <div>
          <i class="large material-icons" style="color:#00BCD4">mood</i>
        </div>
        <div class="card-action">
          <a class="cyan-text" href="#">About Us</a>
          <a class="cyan-text" href="#">Contact Us</a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="div-1 card large pink lighten-3">
        <div class="card-content white-text">
          <span class="card-title"><h1 class="center-align"><b>Featured Product</b> </h1></span>
          <h4><%=@featured.brand%> <%=@featured.name%></h4>
          <h4><%=@featured.product_type%></h4>
          <h4><i class="material-icons" style="font-size:30px;color:red">favorite</i>'d by <a href="/profile/<%=@featured_user.id%>"><%=@featured_user.username%></a></h4>
        </div>
        <div class="card-action">
          <a class="white-text"href="/products/<%=@featured.id%>"><b>Product Page</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="white-text"href="https://www.google.com/search?q=<%=@featured.brand%> <%=@featured.name%>"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="div-1 card large cyan lighten-2">
        <div class="card-content white-text">
          <span class="card-title"><h1 class="center-align"><b> Users</h1></b></span>
          <h4>We are currently hosting the profiles of <%=User.all.length%> beautiful people!</h4>
        </div>
        <div>
        <br>
          <i class="large material-icons" style="color:white">people</i>
        </div>
        <div class="card-action">
          <b><a class="white-text" href="/users">List all users</a></b>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>