<div class="container">
<%if @user != current_user%>
<i class="material-icons">message</i>
<%end%>
<br>
<%if already_following?(@user.id)%>
<br>
  <form action="/unfollow/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Unfollow" class="btn grey white-text">
  </form>
<%elsif @user == current_user%>
<br>
<%else%>
<br>
  <form action="/add/<%=@user.id%>" method="get">
    <input type="submit" value="Follow" class="btn blue white-text">
  </form>
<%end%>

<h1 class="center-align"><b><%=@user.username.capitalize%></b></h1>
<br>
<br>
<h3 class="center-align"><%=@user.username.capitalize%>'s Favorite Products</h3>
<br>
<div> <% @user.products.each do |product| %>
  <%if product.favorite%>
  <div class="row">
    <div class="col s12 m4">
      <div class="card green lighten-3">
        <div class="card-content brown-text text-lighten-3">
          <span class="card-title"><%=product.brand + " " + product.name%></span>
          <p>Product Type: <%=product.product_type%></p>
          <p>Cost: $<%=product.price%></p>
          <p>My Usage: <%=product.description%></p>
        </div>
        <div class="card-action">
          <a href='/products/<%= product.id %>'>Product Page</a>
          <a href="">Add to Wish List &nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="https://www.google.com/search?q=<%=product.brand + " " + product.name%>"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>
    <%end%>
    <% end %>
  </div>
<br>
<br>
  <div>
  <h5>Routine</h5>
  <h6>Morning: <%=@user.profile.morning_routine%></h6>
  <h6>Evening: <%=@user.profile.evening_routine%></h6>
  </div>
<br>
<br>
  <div>
  <h5>Bio</h5>
  <h6><%=@user.profile.bio%></h6>
  </div>
<br>
<br>
<%if @user == current_user%>
<h5>User's you are following</h5>
  <%Follow.where(:follower_id => @user.id).each do |follow|%>
  <p><a href="/profile/<%=User.find_by(id: follow.following_id).id%>"><%=User.find_by(id: follow.following_id).username%></a></p>
  <%end%>
<%end%>


  <div>
  <h5>Users currently following <%=@user.username%></h5>
  </div>
  <%Follow.where(:following_id => @user.id).each do |follow|%>
  <p><a href="/profile/<%=User.find_by(id: follow.follower_id).id%>"><%=User.find_by(id: follow.follower_id).username%></a></p>
  <%end%>

  
</div>


