<style>
      .div-1 {
        opacity: .75;    
      position: relative;
      text-align: center;
      }
      .div-1:hover {
        opacity: 1.0;
        text: black;
      }
</style>
<br>
<div class="container">
<%if @user != current_user%>
<a href="/messages/<%=@user.id%>"><i class="medium material-icons">message</i></a>
<%end%>
<%if already_following?(@user.id)%>
<br>
  <form action="/unfollow/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Unfollow" class="btn grey white-text">
  </form>
  <br>
  <br>
<%elsif @user == current_user%>
<br>
<%else%>
<br>
  <form action="/add/<%=@user.id%>" method="get">
    <input type="submit" value="Follow" class="btn blue white-text">
  </form>
  <br>
  <br>
<%end%>
<div class="div-1 background red lighten-4 width: 60%;">
<br>
<h1 class="center-align"><b><%=@user.username.capitalize%></b></h1>
<br>
<br>
</div>
<h3 class="center-align"><b><%=@user.username.capitalize%>'s Favorite Products</b></h3>
<br>
<div> <% @user.products.each do |product| %>
  <%if product.favorite%>
  <div class="row">
    <div class="col s12 m4">
      <div class="div-1 card light-blue lighten-2">
        <div class="card-content">
          <div class="white-text">
          <span class="card-title"><%=product.brand + " " + product.name%></span>
          <p>Product Type: <%=product.product_type%></p>
          <p>Cost: $<%=product.price%></p>
          <p>My Usage: <%=product.description%></p>
          </div>
        </div>
        <div class="card-action">
          <a class="white-text" href='/products/<%= product.id %>'>Product Page</a>
          <a class="white-text" href="">Add to Wish List &nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a class="white-text" href="https://www.google.com/search?q=<%=product.brand + " " + product.name%>"><i class="material-icons">search</i></a>
        </div>
      </div>
    </div>
    <%end%>
    <% end %>
  </div>
<br>
<br>
  <div class="div-1 background red lighten-4">
  <br>
  <h4 class="center-align"><b>Routine</b></h4>
  <h6><b>Morning: </b><%=@user.profile.morning_routine%></h6>
  <h6><b>Evening: </b><%=@user.profile.evening_routine%></h6>
  <br>
  <br>
  </div>
<br>
<br>
  <div class="div-1 background lighten-2">
  <br>
  <h4 class="center-align"><b>Bio</b></h5>
  <h6><%=@user.profile.bio%></h6>
  <br>
  <br>
  </div>
<br>
<br>
<div class="div-1 container center-align background red lighten-4">
<br>
<br>
<%if @user == current_user && !Follow.where(:follower_id => @user.id).empty?%>
<h5>Currently following</h5>
  <%Follow.where(:follower_id => @user.id).each do |follow|%>
  <p><a href="/profile/<%=User.find_by(id: follow.following_id).id%>"><%=User.find_by(id: follow.following_id).username%></a></p>
  <%end%>
<%end%>

<%if !Follow.where(:following_id => @user.id).empty?%>
  <div>
  <h5>Currently followed by</h5>
  </div>
  <%Follow.where(:following_id => @user.id).each do |follow|%>
  <p><a href="/profile/<%=User.find_by(id: follow.follower_id).id%>"><%=User.find_by(id: follow.follower_id).username%></a></p>
  <%end%>
<%end%>
<br>
</div>
  
</div>


